@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3> acerca de ... </h3>
<img src="https://www.asba-supervision.org/PEF/images/ahorro/banco.jpg">

<p>esta aplicacion es para registrar transapciones monetarias .</p>
