@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contactanos </h3>

<address>
    universidad don bosco soyapango<br />
    carretera de oro<br />
 
</address>

<address>
    <strong>integrante 1:</strong>   <a >Brandon Denilson Azahar Rojas AR172433</a><br />
    <strong>integrante 2:</strong> <a >Bryan Efrain Crespin Bran CB180936</a>
</address>